<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__list">
      <li class="main-header__list-item">
        <a href="/" class="<%= routePath === '/' ? 'active' : '' %>">Shop</a>
      </li>
      <li class="main-header__list-item">
        <a href="/admin/add-product" class="<%= routePath === '/add-product' ? 'active' : '' %>">Add Product</a
        >
      </li>
    </ul>
  </nav>
</header>
